---
import GeneralMenu from '../components/GeneralMenu';
const url = Astro.url;
const onlineVersion = `${url.protocol}//online.${url.host}`;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>TabDash</title>
    <style>
      @font-face {
        font-family: Inter;
        src: url('/Inter.ttf');
      }
    </style>
  </head>
  <body class='bgcolor h-screen w-screen overflow-hidden'>
    <div class='flex flex-col h-full'>
      <GeneralMenu client:load url={onlineVersion} />
      <slot />
    </div>
    <script>
      import 'uno.css';
    </script>
    <style>
      .bgcolor {
        animation: colorchange 45s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-play-state: running;
        background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
      }

      @keyframes colorchange {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </body>
</html>
