---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import GeneralMenu from '../components/GeneralMenu.astro';
import HelpMenu from '../components/HelpMenu.astro';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
    </style>
  </head>
  <body class='flex flex-col'>
    <GeneralMenu />
    <div class='flex justify-around w-full h-full overflow-hidden'>
      <div>
        <HelpMenu />
      </div>
      <slot />
      <div></div>
    </div>
  </body>
  <style is:global>
    html {
      font-family: 'Inconsolata', monospace;
      background-color: #f6f6f6;
      margin: 0;
      overflow: hidden;
    }
    body {
      margin: 0;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      background-color: gainsboro;
      padding: 4px;
      font-size: small;
      border-radius: 4px;
    }
  </style>
</html>
