.customLink {
  cursor: pointer;
  transition: all 300ms;
  text-decoration: none;
  color: deepskyblue;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}
