html {
  font-family: 'Inter', monospace;
  background-color: #f6f6f6;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
}

code {
  font-family: 'Inter', Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: gainsboro;
  padding: 4px;
  font-size: small;
  border-radius: 4px;
}

article {
  height: calc(100vh - 160px);
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    padding: 0.6em 1rem;
  }
  blockquote {
    margin: 2rem;
    padding: 0.4rem;
    border: 2px solid gainsboro;
    border-radius: 8px;
  }
  a {
    text-decoration: underline;
  }
}

@keyframes animateIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes animateOut {
  from {
    transform: translateY(50px) scale(80%);
  }
  to {
    transform: translateY(0) scale(80%);
  }
}
