---
import Base from '../layouts/Base.astro';
import Home from '../components/Home.jsx';
---

<Base>
  <main>
    <Home client:only='solid-js' />
  </main>
</Base>

<style>
  main {
    margin: auto;
    max-width: 60ch;
    display: grid;
    place-content: center;
    height: 100%;
  }
</style>
