---
import Base from '../layouts/Base.astro';
---

<Base>
  <main>
    <h1>Welcome to <span class='text-gradient'>TabDash</span></h1>
  </main>
</Base>

<style>
  main {
    margin: auto;
    max-width: 60ch;
    display: grid;
    place-content: center;
    height: 100vh;
  }
</style>
